* {
    font-family: 'Press Start 2P', cursive;
}

#gameScreen {
    margin-top: 50px;
    margin-bottom: 100px;
}

.leftgrid {
    display: grid;
    grid-template-columns: 320px 200px;
}

.rightgrid {
    display: grid;
    grid-template-columns: 200px 320px;
}

#rightStats {
    text-align: right;
    padding-right: 15px;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gameCourt {
    border: solid 2px;
}

.play-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}